@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Inter';
}

body{
    max-width: 1440px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#hero_section{
    height: 840px;
    width: 100%;
}

.openat700 {
    display: none;
    visibility: hidden;
}

.navscreen{
    height: 100vh;
    background-color: #fff;
    padding-top: 60px;
    width: 100%;
    max-width: 100%;
    padding-left: 5.6%;
    padding-right: 5.6%;
    z-index: 50000;
    position: fixed;    
}

.screennavbar{
    display: flex;
    justify-content: space-between;
}

#hero_section .navbar{
    position: fixed;
    z-index: 5000;
    padding-left: 5.56%;
    padding-right: 5.56%;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.heroslideone{
    display: flex;
    flex-direction: row;
    background: url('../images/herosectionbackground.svg');
    color: #FBFBFF;
    position: relative;
}

.heroslidetwo{
    display: flex;
    flex-direction: row;
    background: url('../images/heroslidetwo.svg');
    color: #FBFBFF;
    position: relative;
}

.heroslidethree{
    display: flex;
    flex-direction: row;
    background: url('../images/heroslide3.svg');
    color: #FBFBFF;
    position: relative;
}

.heroslidefour{
    display: flex;
    flex-direction: row;
    background: url('../images/heroslide4.svg');
    color: #FBFBFF;
    position: relative;
}

.heroslidefive{
    display: flex;
    flex-direction: row;
    background: url('../images/heroslide5.svg');
    color: #FBFBFF;
    position: relative;
}

.bulletsstyle button div {
    display: flex;
    flex-direction: row;
}

.bulletsstyle button img{
    max-width: 120px;
    height: 33px;
}

.glide__bullet .const{
    color: #F2F2F2;
    opacity: 0.6000000238418579;
font-family: Jost;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 177.778% */
letter-spacing: -0.176px;
}

button.glide__bullet.glide__bullet--active .const{
    color: #FFF;
    opacity: 1;
font-family: Jost;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 177.778% */
letter-spacing: -0.176px;
}

button.glide__bullet.glide__bullet--active .thetoggled{
    display: inline;
    visibility: visible;
}

.glide__bullet .thetoggled{
    display: none;
    visibility: hidden;
}

.bulletsstyle button .thetoggled{
    margin-left: 6px;
    color: #FFF;
font-family: Jost;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 177.778% */
letter-spacing: -0.176px;
}



.bulletsstyle button{
    background-color: none;
    background: none;
    border: none;
}

.heroslidesix{
    display: flex;
    flex-direction: row;
    background: url('../images/heroslide6.svg');
    color: #FBFBFF;
    position: relative;
}

.bulletsstyle{
    position: absolute;
    bottom: 40px;
    right: 4.2%;
}

.heroleft{
    width: 52.7%;
    background: linear-gradient(144deg, #0F1417 0%, rgba(4, 6, 40, 0.85) 100%, #040628 100%);
opacity: 0.949999988079071;
    padding-left: 8.3%;
    padding-top: 21.1%;
    padding-right: 3.54%;
}



.bluecntbtn{
    position: absolute;
    right: 0;
    top: 244px;

}

.herotitle{
font-family: Jost;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

#hero_section .content{
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.196px;
}

#hero_section p{
    margin-bottom: 40px;
}

.learnmore{
border-radius: 4px;
background: #FFF;
width: 180px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
justify-items: center;

}

.learnmore p{
color: #040628;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%;
letter-spacing: -0.157px; 
align-items: center;
justify-items: center;
padding-top: 36px;
}

.bottomlinks{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 63px;
    width: 110px;
    justify-content: space-between;
}

.section{
    padding-left: 8.3%;
    padding-right: 8.3%;
    padding-top: 120px;
    box-sizing: border-box;
}

#whatwedo{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.whatwedoleft{
    width: 50%;
    padding-right: 6.9%;
}

.ontopline{
    color: #293037;
font-family: Jost;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 12px;
opacity: 0.8500000238418579;
}

#whatwedo .line{
    margin-bottom: 25.44px;
    max-width: 100%;
}

.moredetail{
    color: #293037;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px;
letter-spacing: -0.196px;
margin-bottom: 25px;
max-width: 443px;
}

.boldcatch{
    color: #121314;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 76px;
letter-spacing: -0.627px;
max-width: 359px;
}

.whatwedoright{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-bottom: 170px;
}

.whatwedoright .righttop{
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
    width: 100%;
}

.whatwedoright .rightbottom{
    display: flex;
    flex-direction: row;
}
.research{
    color: #121314;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.235px;
margin-bottom: 25px;
}

.whatwedoright .aside{
    width: 50%;
    padding-right: 15px;
}

.whatwedoright .cside{
    max-width: 50%;
    margin-right: 15px;
}

.whatwedoright .bside{
    max-width: 50%;
}

#whatwedo .whatwedoright .line{
    width: 100%;
    max-width: 286px;
    height: 0.56px;
}

.strategydetail{
    color: #293037;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 22px;
letter-spacing: -0.137px;
max-width: 250px;
}

.bside ul{
    margin-left: 25px;
    color: #121314;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px;
letter-spacing: -0.192px;
}

.rightbottomheading{
    color: #121314;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px;
letter-spacing: -0.235px;
margin-bottom: 25px;
}

.rightbottomdetail{
    color: #293037;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 22px;
letter-spacing: -0.137px;
max-width: 250px;
}

#developmentlifecycle{
    background: #040628;
    width: 100%;
    padding-bottom: 92px;
}

.lifecycle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lifecycle .p1 {
    color: #FFF;
font-family: Jost;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 56px;
letter-spacing: -0.47px;
max-width: 471px;
}


.lifecycle .p2 {
color: #FFF;
margin-top: 14px;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px;
letter-spacing: -0.176px;
max-width: 554px;
padding-bottom: 120px;
}

.rectangle{
    display: flex;
    width: 196.364px;
    height: 45px;
    background: #FFF;
    justify-content: center;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}

.rectangle p{
    color: #040628;
text-align: center;
font-family: Jost;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin-top: auto;
margin-bottom: auto;
}

#services{
 padding-bottom: 114.52px;
 /* max-height: 960px; */
  background-image: url(../images/servicebg.svg);
 background-repeat: no-repeat;
 background-size: cover;
 box-sizing: border-box;      
}

.therow{
    display: flex;
    flex-direction: row;
}

.contenttext{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 64px; /* 266.667% */
letter-spacing: -0.235px;
}

.contenttext p{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
letter-spacing: -0.235px;
}

.contentheading{
    color: #FFF;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 153.846% */
letter-spacing: -0.255px;
padding-left: 21%;
}

.thecontent{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 21%;
}

.verticalline{
    margin-right: 33px;
}

#ceo {
    padding-top: 120px;
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-bottom: 94px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

#ceo .column1{
    display: flex;
    flex-direction: column;
    width: 48.07%;
}

#ceo .column2{
    display: flex;
    flex-direction: column;
    width: 44%;
}

.column2 .ceopicture{
    height: 520px;
    max-width: 460px;
    width: 100%;
    object-fit: cover;
}

.theidea, .meetings, .sprints, .repeat, .launch, .test{
    width: 100%;
}

.dropcontent{
    transition: ease-in;
}

.hidden{
    display: none;
    visibility: hidden;
}

.launch{
    padding-left: 32.7%;
}

.test{
    padding-left: 26.6%;
}

.repeat{
    padding-left: 19.9%;
}

.test, .repeat, .sprints, .launch, .maintenance{
    margin-top: 40px;
}

.sprints{
    padding-left: 13.25%;
}

.meetings {
    padding-left: 6%;
    margin-top: 60px;
}

.dropdown{
    width: 100%;
}

.therow{
    width: 100%;
}

.rectangle{
    width: 16.5%;
}

.therow .line{
    width: 83.5%;
}

.designation{
    color: #353D46;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px;
margin-top: 15px;
}

.off{
    display: none;
    visibility: hidden;
}

.pointer{
    cursor: pointer;
}

.rowleft ul li{
    list-style: none;
}

.rowleft ul li a{
    text-decoration: none;
    color: #121314;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 116.667% */
letter-spacing: -0.47px;
opacity: 0.6;
}

.navscreenline{
    margin-bottom: 6px;
}

.pservices{
    margin-bottom: 0!important;
}

.maincontents{
    width: 100%;
    max-width: 100%;
    padding-left: 25.078125%;
    padding-top: 61px;
    padding-right: 4%;
    display: flex;
    justify-content: space-between;
}

.rowright{
    margin-top: 65px;
    position: relative;
}
.rowright p{
    margin-bottom: 20px!important;
}

.rowright p a{
    color: rgba(18, 19, 20, 0.80);
font-family: Inter;
position: relative;
text-decoration: none;
font-size: 17.5px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.172px;
text-transform: uppercase;
opacity: 0.8;
}

.rowright p a::before{
    content: '';
    background-color: #1C40C9;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    z-index: -10;
    transition: 0.3s ease-in-out;
}

.rowright p a:hover::before{
    width: 100%;
}

.personsprofile{
    color: #606060;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-top: 7px;
max-width: 350px;
}

.rrbtm{
    position: absolute;
    bottom: 0;
    display: flex;
}

.rrbtm p{
    font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
opacity: 0.8;
color: #121314;
margin-bottom: 0px!important;
}

.rrbtm img{
    margin-left: 22px;
}

#ceo .prdimage{
    margin-top: 17px;
    max-width: 253.251px;
max-height: 138.27px;
    display: flex;
    align-content: center;
    margin-bottom: 40.73px;
}

.contactusbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
background: #1C40C9;
max-width: 180px;
height: 60px;
margin-top: 40px;
}

.contactusbtn p{
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}

.prdtext{
    color: #606060;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px;
max-width: 500px;
}

.our_services{
color: #000;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 50.238px;
margin-bottom: 25px;
}

.servicesdetails{
    color: #686868;
font-family: Jost;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}

.imagesection{
    margin-top: 60.45px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.line1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagediv {
    width: 32%;
    padding-top: 58.96px;
    padding-left: 29.95px;
    height: 278px;
    background-repeat: no-repeat;
    background-size: cover;

}

.imagediv p{
color: #FFF;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 25.254px; /* 101.017% */
text-transform: capitalize;
}

#whychooseus {
    background: #040628;
    position: relative;
    height: 900px;
}

#whychooseus .title1{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 166.667% */
letter-spacing: -0.235px;
}

.whychooseline{
    max-width: 360px;
    margin-top: 12px;
}

.btmleft{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 29.16%;
    height: 531px;
    object-fit: cover;
}

.whychooseuscontent{
    box-sizing: border-box;
}

.allround{
    margin-top: 60.44px;
    position: relative;
    color: #FFF;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 76px; /* 118.75% */
letter-spacing: -0.627px;
z-index: 1;
}

.contactusdiv{
    position: absolute;
    left: 29.16%;
    margin-top: -28px;
    z-index: 0;
}



.bluespace{
    background: #1C40C9;
    width: 600px;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 56px;
    height: 20opx;
}

.bluespace p{
    color: #F4F4F4;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 32px;
max-width: 475px;
}

.contactbtn{
    width: 165px;
height: 55px;
padding: 15.88px 26.823px 17.882px 26.823px;
flex-direction: column;
align-items: center;
background: #FFF;
box-sizing: border-box;
}

.excellencemilestone{
    position: relative;
    left: 87.51px;
}

.btmright{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 640px;
    width: 21%;
    object-fit: cover;
}

#contactus{
    padding-top: 120px;
    padding-left: 8.3%;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

.ctrowone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}

.contactustext{
    color: #121314;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 76px; /* 118.75% */
letter-spacing: -0.627px;
}

.ctdescription{
    margin-top: 25px;
    color: #293037;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 140% */
letter-spacing: -0.196px;
max-width: 599px;
}

form {
    margin-top: 40px;
    box-sizing: border-box;
}

input{
    box-sizing: border-box;
    height: 60px;
    background: #F2F2F2;
    border: none;
    padding-left: 16px;
}

.contactl{
    width: 57%;
    margin-top: 60px;
}

.widthconfig{
    width: 48%;
}

select{
    color: #121314;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
letter-spacing: -0.176px;
    box-sizing: border-box;
    margin-bottom: 16px;
    height: 60px;
    background: #F2F2F2;
    border: none;
    padding-left: 16px;
    width: 100%;
    padding-left: 16px;   
}

::placeholder {
    color: #686868;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 28px; /* 155.556% */
letter-spacing: -0.176px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #686868;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.176px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #686868;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.176px;
  }

  .formrow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  textarea{
    width: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    padding-top: 16px;
    margin-bottom: 32px;
    height: 200px;
    background: #F2F2F2;
    border: none;
  }

  .submitbtn{
    background: #1C40C9;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 60px;
    width: 41%;
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%;
  }

  .contactr{
    width: 31%;
    box-sizing: border-box;
  }

  .ctcrows{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .careers{
    color: #121314;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 116.667% */
letter-spacing: -0.47px;
  }

  .greybox{
    width: 100%;
    box-sizing: border-box;
    height: 247px;
    background: #F2F2F2;
    padding-top: 42px;
    padding-left: 9.6%;
    margin-top: -22px;
    margin-bottom: 151.08px;
  }

  .greybox p{
    color: #293037;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px; 
max-width: 313px;
  }

  .elite{
    color: #040628;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }

  .techne{
    color: #1C40C9;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }



  .ctaddress p{
    color: #293037;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 170px;
  }

  @media only screen and (max-width: 1024px){
    .bulletsstyle {
        right: 2%;
    }

    #hero_section .content {
        font-size: 18px;
    }

    .moredetail {
        font-size: 17px;

    }
    .boldcatch {
        font-size: 52px;
        line-height: 65px;

    }

    .whatwedoright {
        padding-bottom: 140px;
    }

    .research {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .whatwedoright .aside {
        padding-right: 0px;
    }

    .whatwedoright .bside {
        padding-left: 15px;
    }

    .bside ul {
        font-size: 16px;
    }

    .rightbottomheading {
        font-size: 17px;
    }

    .rightbottomheading{
        margin-bottom: 10px;
    }
    .learnmore p {
        font-size: 14px;
    }

    .learnmore {
        width: 130px;
        height: 50px;
    }

    #hero_section {
    height: 800px;
    position: relative;
    max-width: 100%;
    }

    
.lifecycle .p2 {
    width: 50%;
    font-size: 15px;
}

.lifecycle .p1 {
    width: 50%;
    font-size: 36px;
}

.contenttext p {
   font-size: 20px; 
}

}

@media only screen and (max-width: 720px){
    .heroslideone, .heroslidefive,.heroslidefour, .heroslidetwo, .heroslidethree, .heroslidesix {
        flex-direction: column-reverse;
        background-size: contain;
        background-repeat: no-repeat;
    }   
   /* #hero_section {
        height: 800px;
    } */

    .heroleft{
        width: 100%;
        padding-left: 8%;
    padding-top: 50px;
    padding-right: 8%;
    height: 49%;
    fill: linear-gradient(149deg, #0F1417 -5.85%, rgba(4, 6, 40, 0.85) 84.74%, #040628 84.74%);
    }

    .herotitle {
        font-size: 24px;
        margin-bottom: 15px!important;
    }

    #hero_section .content {
        font-size: 16px;
    }

    .heroright a{
        display: none;
        visibility: hidden;
    }

    .bottomlinks {
        display: none;
        visibility: hidden;
    }

    .bulletsstyle {
        position: absolute;
        bottom: 5px;
        right: 8%;
        left: 8%;
        display: flex;
        justify-content: space-between;
        max-width: 100%;
    }

    .learnmore {
        width: 100%;
    }

    #whatwedo{
        flex-direction: column;
        padding-left: 8%;
        padding-right: 8%;
    }

    .whatwedoleft{
        width: 100%;
        padding-right: 0px;
    }

    .lifecycle {
        flex-direction: column;
    }

    .lifecycle .p1 {
        width: 100%;
        max-width: 100%;
    }

    .lifecycle .p2 {
        max-width: 100%;
        width: 100%;
    }

    .whatwedoright{
        width: 100%;
        margin-top: 80px;
    }

    .bluespace {
        display: none;
        visibility: hidden;
    }

    .section{
        padding-top: 60px;
    }

    #whatwedo .line {
        width: 95.5%;
    }

    .moredetail {
        max-width: 100%;
    }

    .strategydetail {
        max-width: 100%;
    }

    .bside{
        margin-top: 80px;
    }

    .whatwedoright .rightbottom {
        flex-direction: column;
    }

    .whatwedoright .cside {
        max-width: 100%;
        margin-right: 0px;
    }

    #whatwedo .whatwedoright .line {
        width: 95.5%;
        max-width: 100%;
        height: auto;
    }

    .dside{
        margin-top: 80px;
    }

    .rightbottomdetail {
        max-width: 100%;
        width: 100%;
    }

    .whatwedoright .bside {
        max-width: 100%;
        padding-left: 0px;
    }
    .whatwedoright .righttop {
        flex-direction: column;
    }

    .whatwedoright .aside {
        width: 100%;
    }

    .contenttext p {
        font-size: 16px;
        line-height: 22px;
    }

    .lineheightadj1 {
        line-height: 27px !important;
    }

    .lineadj2{
        line-height: 28px!important;
    }

    .lineadj3{
        line-height: 25px!important;
    }

    .therow .line {
    width: 75%;
    }

    .rectangle {
        width: 25%;
    }

    .therow {
        margin-bottom: 15px;
    }

    #ceo{
        flex-direction: column-reverse;
    }

    .prdtext {
        width: 100%;
        max-width: 100%;
    }

    #ceo .column1 {
        width: 100%;
        margin-top: 120px;
    }

    #ceo .column2 {
        width: 100%;
    }

    #contactus{
        padding-right: 8.3%;
    }

    .ctrowone {
        flex-direction: column;
    }

    .contactl {
        width: 100%;
    }

    .contactr {
        width: 100%;
        margin-top: 100px;
    }

    .greybox p {
        max-width: 100%!important;
    }

    #navbar {
        width: 100%;
    }

    .greybox {
    padding-right: 9.6%;
    }

    .ctaddress p {
        max-width: 100%;
    }
/*
    #hero_section .navbar {
        width: 100%;
        max-width: 100%;
    }
*/
}

@media only screen and (max-width: 700px){
    .closeat700{
        visibility: hidden;
        display: none;
    }

    .openat700{
        visibility: visible;
        display: flex;
        position: relative;
    }

.heroslideone, .heroslidefive, .heroslidefour, .heroslidetwo, .heroslidethree, .heroslidesix {
    background: none;
    height: 772px;
}
.heroright{
height: 375px;
}
.heroleft{
height: 397px;
}

.heroright img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
/*
div#navbar.navbar{
    max-width: 100%;
    width: inherit;
}
*/

img#logoimage {
    width: 32.4%;
    min-width: 121.75px;
}
img#navicon {
    width: 10.7%;
    min-width: 40px;
}

#hero_section .navbar {
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 25px!important;
}
}

@media only screen and (max-width: 700px){
    .bulletsstyle button .thetoggled {
        font-size: 10px;
    }
    button.glide__bullet.glide__bullet--active .const {
        font-size: 10px;
    }
    .glide__bullet .const {
        font-size: 10px;
    }

    #hero_section{
        height: 100%;
    }

    .bulletsstyle {
        bottom: -20px;
    }

    .lifecycle .p1{
        font-size: 30px;
    }
    .section{
        padding-left: 8%;
        padding-right: 8%;
    }

    #developmentlifecycle {
        padding-left: 0px;
        padding-right: 0px;
    }

    .lifecycle {
        padding-left: 8%;
        padding-right: 8%;
    }

    .lifecycle .p2 {
        padding-bottom: 60px;
    }

    .dropdown {
        padding-left: 8%;
    }

    .rectangle {
        width: 42.181%;
    }

    .therow .line {
        width: 60%;
    }
    .thecontent {
    padding-left: 40px;
    }

    .contenttext {
        margin-left: -20px;
        padding-right: 8%;
    }

    .line1 {
        flex-direction: column;
    }

    .imagediv {
        width: 100%;
        height: 275px;
        margin-bottom: 6px;
    }

    .servicesdetails {
        font-size: 18px;
    }
    .our_services {
        font-size: 32px;
    }

    .heroleft p.content{
        margin-bottom: 30px!important;
    }

    .heroleft {
        padding-top: 30px;
    }

}